@font-face {
	font-family: "ALS Rubl";
	src: url('../font/rouble.otf');
}
body {
	background: #ddd url('../img/darknoise.png') !important;
}
textarea {
	resize: none;
}
.text-center {
	text-align: center;
}
.text-pale {
	color: rgba(0,0,0,.5);
}
.text-italic {
	font-style: italic;
}
.inline {
	display: inline;
}
.rubl {
	font-family: "ALS Rubl";
}
.control-group.error .help-block, .error .help-block {
	font-size: 12px;
	margin-top: 0;
}
.form-row.error label, .form-row.error .help-inline {
  color: #B94A48;
}
.form-row.error input, .form-row.error select, .form-row.error textarea {
  border-color: #B94A48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.form-row.error .checkbox, .form-row.error .radio, .form-row.error input, .form-row.error select, .form-row.error textarea {
  color: #B94A48;
}
.form-row.error input:focus, .form-row.error select:focus, .form-row.error textarea:focus {
  border-color: #953B39;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
}
.tooltip {
	font-family: Arial, sans-serif;
}
.ui-datepicker-month,
.ui-datepicker-year {
	padding: 0;
	border-radius: 0;
	height: auto;
}
.ui-datepicker table.ui-datepicker-calendar {
	line-height: 13px;
	font-size: .8em;
}
.ui-datepicker .ui-datepicker-title {
	line-height: 1.3em;
}
#errorSummaryContainer {
	padding: 20px;
}
#afContainer {
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 40px auto;
	padding: 40px 55px;
	position: relative;
	width: 780px;
}
#afContainer,
#applicantForm,
#applicantForm label {
	font-family: "Times New Roman",serif;
	font-size: 15px;
}
#applicantForm label i:before {	
	content: '*';
	position: absolute;
	color: darkOrange;
	font-weight: bold;
	margin-left: 3px;
}
#applicantForm section {
	margin: 30px 0;
}
#applicantForm table thead th {
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: default;
}
#applicantForm table td img.delete-row {
	cursor: pointer;
	position: absolute;
	top: 18px;
	right: -37px;
	opacity: .7;
	transition: .25s ease-out opacity;
}
#applicantForm table td img.delete-row:hover {
	opacity: 1;
}
#applicantForm table td img.delete-row:active {
	top: 19px;
}
#applicantForm table .extra-row {
	height: 44px;
}
#applicantForm table .extra-row div {
	position: relative;
}
#applicantForm table .extra-row div div {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	cursor: pointer;
	height: 29px;
	left: -6px;
	padding-top: 10px;
	position: absolute;
	text-align: center;
	top: -6px;
	width: 774px;
}
#applicantForm table td textarea {
	resize: none;
}
#applicantForm table .extra-row div div span {
	background: url('../img/icon-plus.png') no-repeat 0 50%;
	padding: 5px 0 5px 30px;
	opacity: .7;
	font-style: italic;
	font-size: 14px;
	position: relative;
	transition: .25s ease-out opacity;
}
#applicantForm table .extra-row div div:hover span {
	opacity: 1;
}
#applicantForm table .extra-row div div:active span {
	top: 1px;
}
#afCorner {
	position: absolute;
	top: 0;
	left: 0;
}
#afCard {
	display: none;
	position: absolute;
	right: -13px;
	top: 165px;
}
#afTitle {
	text-align: center;
	font-size: 18px;
	font-weight: normal;
}
#selfratingSliders {
	width: 500px;
	margin: 25px auto;
}
.slider-group {	
	margin: 15px 0;
}
.slider-group label {
	float: left;
	width: 180px;
	margin: 0 20px 0 0;
	text-align: right;
}
.slider-group .slider-value {
	float: left;
	/*font-weight: bold;*/
	margin: 0 35px 0 0;
	position: relative;
}
.slider-group .slider-value-inner {
	position: absolute;
	top: 0;
	left: -3px;
	width: 20px;
	text-align: center;
}
.slider-group .slider-container {
	float: left;
	width: 200px;
	margin-top: 2px;
}
/*
.form-horizontal .wide input[type="text"],
.form-horizontal .wide textarea,
.form-horizontal .wide .uneditable-input[type="text"] 
*/
.form-horizontal .wide textarea
{
	width: 421px;
}
.form-horizontal .wide .control-label {
	width: 320px;
}
.form-horizontal .wide .controls {
	margin-left: 345px;
}
