/*
	Why is a soap bubble round?
*/
/* -------------------------------------------------
 *	Base, reset, normalize
 * ------------------------------------------------- */
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}
/* Structure tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Responsive images and other embedded objects */
img,
object,
embed,
video,
iframe {
  width: auto;
  max-width: 100%;
}
/* Responsive images aspeсt ratio */
img,
video,
iframe {
  height: auto;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
/* Webkit browsers reset margin */
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
}
/* Horizontal rule reset  */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
/* Clearfix */
.cf {
  *zoom: 1;
}
.cf:after,
.cf:before {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
/* -----------------------------------------
 *	Typography
 * ----------------------------------------- */
body {
  background: #ffffff;
  color: #333333;
  font-size: 0.6875em;
  line-height: 1.5em;
  font-family: Arial, sans-serif;
}
a {
  color: #336699;
}
a:focus,
a:hover {
  color: #c72020;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: @headingsFontFamily;*/

  font-weight: bold;
}
h1 {
  font-size: 2.142em;
  line-height: 1.1333em;
  margin-bottom: .2666em;
}
h2 {
  font-size: 1.714em;
  line-height: 1.1666em;
  margin-bottom: .4555em;
}
h3 {
  font-size: 1.429em;
  line-height: 1.4em;
  margin-bottom: .4em;
}
h4 {
  font-size: 1.143em;
  line-height: 1.5em;
  margin-bottom: .4555em;
}
h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: .5em;
}
h6 {
  font-size: 0.857em;
  line-height: 1.5em;
  margin-bottom: .4555em;
  text-transform: uppercase;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 {
  margin-bottom: 0;
}
hgroup {
  margin-bottom: 0.6em;
}
.subheader {
  font-weight: 300;
  color: #888;
}
h1.subheader {
  font-size: 1.357em;
  line-height: 1.263em;
}
h2.subheader {
  font-size: 1.214em;
  line-height: 1.412em;
}
h3.subheader {
  font-size: 1em;
  line-height: 1.286em;
}
h4.subheader,
h5.subheader {
  font-size: 0.95em;
  line-height: 1.385em;
}
h6.subheader {
  font-size: 0.8em;
  line-height: 1.364em;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.5em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 2em;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
form,
fieldset {
  margin-bottom: 1.5em;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}
blockquote {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  border-left: 1px solid #ccc;
  color: #555555;
}
blockquote small,
cite {
  color: #999999;
  font-style: normal;
}
blockquote p {
  font-size: 1.1em;
  margin-bottom: .5em;
  font-style: italic;
}
small,
blockquote cite {
  font-size: 0.85em;
  line-height: 1;
}
blockquote .pull-right,
.row blockquote .pull-right {
  float: none;
  text-align: right;
  display: block;
}
address {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  font-size: 0.85em;
  font-style: italic;
}
ins,
mark {
  background-color: #ffee55;
  color: #000000;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-size: 90%;
  font-family: Consolas, monospace;
}
pre {
  font-size: 90%;
  color: #444;
  background: #f5f5f5;
  padding: .85em;
  white-space: pre-wrap;
  overflow: auto;
}
code {
  padding: 2px 3px;
  display: inline-block;
  line-height: 1;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
kbd {
  padding: 0 .4em;
  border-radius: .3em;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #ffffff inset;
  background-color: #fafafa;
  border-color: #ccc #ccc white;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444;
  font-weight: normal;
  white-space: nowrap;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-size: .95em;
}
fieldset {
  padding: 2em 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #dddddd;
}
legend {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1em;
}
.com {
  color: #888;
}
.lit {
  color: #195f91;
}
.pun,
.opn,
.clo {
  color: #93a1a1;
}
.fun {
  color: #005cb9;
}
.str,
.atv {
  color: #8A6343;
}
.kwd,
.linenums,
.tag {
  color: #000;
}
.typ,
.atn,
.dec,
.var {
  color: #666;
}
.pln {
  color: #5890AD;
}
/* =Tables
-----------------------------------------------------------------------------*/
table.table tfoot th,
table.table tfoot td {
  background-color: #f2f2f2;
}
table.table th,
table.table td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.75em 0.5em;
}
table.table caption {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0.5em;
  color: #666;
}
table.table.simple td,
table.table.simple th {
  border: none;
  padding: 0.75em 0.7em 0.75em 0;
}
table.table.bordered td,
table.table.bordered th {
  border: 1px solid #ddd;
}
table.table.stroked td,
table.table.stroked th {
  border-bottom: 1px solid #eee;
}
table.table.striped tbody tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
table.table.hovered tbody tr:hover td,
table.table.hovered thead tr:hover th {
  background-color: #f6f6f6;
}
.thead-gray td,
.thead-gray th {
  background-color: #f0f0f0;
}
.thead-black td,
.thead-black th {
  font-weight: normal;
  color: #f6f6f6;
  color: rgba(255, 255, 255, 0.9);
  background-color: #222;
}
table.table.bordered .thead-black td,
table.table.bordered .thead-black th {
  border: 1px solid #444;
}
/* =Forms
-----------------------------------------------------------------------------*/
.forms label {
  display: block;
  margin-bottom: 2px;
}
.descr {
  color: #999999;
  font-size: 0.85em;
  line-height: 1.5em;
}
div.descr {
  margin: 4px 0;
}
.columnar div.descr {
  margin-bottom: 10px;
}
.forms ul {
  list-style: none;
  margin: 0;
}
.forms ul li {
  margin-bottom: 10px;
}
.forms.columnar ul li {
  margin-bottom: 15px;
}
/* liner fieldset */
fieldset.liner {
  border: none;
  padding: 0;
}
fieldset.liner legend {
  padding: 0;
  width: 100%;
  padding-bottom: 12px;
}
fieldset.liner legend span {
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  display: block;
}
/* multicolumn */
.forms ul.multicolumn {
  *zoom: 1;
}
.forms ul.multicolumn:after,
.forms ul.multicolumn:before {
  content: ' ';
  display: table;
}
.forms ul.multicolumn:after {
  clear: both;
}
.forms ul.multicolumn:after,
.forms ul.multicolumn:before {
  content: ' ';
  display: table;
}
.forms ul.multicolumn:after {
  clear: both;
}
.forms ul.multicolumn li {
  float: left;
  margin-right: 12px;
  margin-bottom: 0;
  line-height: 1.8em;
}
.forms ul.multicolumn li label {
  margin-bottom: 0;
}
.forms ul.multicolumn li.width-50 {
  width: 48%;
  margin-right: 2%;
}
.forms ul.multicolumn li.width-33 {
  width: 31%;
  margin-right: 2%;
}
/* columnar */
.forms.columnar legend {
  margin-bottom: 1em;
}
.forms.columnar label {
  float: left;
  width: 150px;
  text-align: right;
  margin-right: 20px;
}
.forms.columnar .push,
.forms.columnar div.descr {
  margin-left: 170px;
}
.forms.columnar li fieldset label {
  float: none;
  width: auto;
  text-align: left;
  margin-right: 0;
}
.forms.columnar li fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 170px;
  position: relative;
}
.forms.columnar li fieldset section {
  padding: 0;
  position: absolute;
  width: 150px;
  text-align: right;
  left: 0;
  top: 0;
}
.forms.columnar li fieldset section label {
  float: none;
  width: auto;
  margin-right: 0;
  text-align: right;
}
.forms.columnar li fieldset div.descr {
  margin-left: 0;
}
/* section */
.forms li.form-section {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 1.5em 0 .7em 0;
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.columnar li.form-section {
  padding-left: 170px;
}
/* tableforms */
table.tableforms td {
  font-size: 90%;
  padding: 1px 10px 3px 0 !important;
  border: none;
}
table.tableforms tr.labels td {
  padding-top: .8em !important;
  font-weight: bold;
}
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: -1px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
textarea {
  position: relative;
  z-index: 2;
  height: 23px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 1px 2px;
  background-color: white;
  color: #333;
  font-size: .95em;
  line-height: 1;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: border ease 0.5s;
  -moz-transition: border ease 0.5s;
  -ms-transition: border ease 0.5s;
  -o-transition: border ease 0.5s;
  transition: border ease 0.5s;
}
textarea {
  line-height: 1.4em;
}
/* Errors and Success */
.error,
.success {
  margin-left: 5px;
  font-weight: normal;
  font-size: 0.85em;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: #da3e5a;
  box-shadow: 0 0 0 2px rgba(218, 62, 90, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  border-color: #18a011 ;
  box-shadow: 0 0 0 2px rgba(24, 160, 17, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-gray,
textarea.input-gray,
select.input-gray,
.input-gray {
  border-color: #ccc;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-search,
input[type="search"] {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
  border-radius: 15px;
}
.input-append,
.input-prepend {
  display: inline-block;
  background-color: #eee;
  height: 23px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 1px 8px;
  color: #333;
  font-size: 1em;
  line-height: 23px;
}
.input-prepend {
  margin-right: -1px;
}
.input-append {
  position: relative;
  z-index: 1;
  margin-left: -1px;
}
/* Placeholders */
::-webkit-input-placeholder {
  color: #999999;
  padding: 1px 2px;
}
/* FF19+ */
::-moz-placeholder {
  color: #999999;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
.btn {
  text-decoration: none;
  color: #000;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: .5em 1.05em;
  font-weight: 500;
  font-size: .85em;
  background: #f3f2f2;
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f2f2));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f2f2 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f3f2f2 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f3f2f2 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f3f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f2f2', GradientType=0);
}
.btn:hover {
  background: #fff;
  border: 1px solid #ddd;
}
.btn-small {
  font-size: .7em;
}
.btn-big {
  font-size: 1.2em;
}
.btn-round {
  border-radius: 20px;
}
.btn-full {
  width: 100%;
}
.btn-active,
.btn-active:hover,
.btn.disabled,
.btn[disabled] .btn-disabled,
.btn-disabled:hover {
  background: #e3e3e3;
  border: 1px solid #ccc;
  text-shadow: 0 1px 1px #fff;
}
.btn-active,
.btn-active:hover {
  color: #666;
}
.btn.disabled,
.btn[disabled] .btn-disabled,
.btn-disabled:hover {
  color: #999;
}
.btn:focus .halflings,
.btn:hover .halflings {
  color: #555555;
}
.btn-active .halflings {
  color: #555;
}
/* Group  */
.btn-group {
  display: inline-block;
  margin-right: 2px;
  *zoom: 1;
  vertical-align: bottom;
}
.btn-group:after,
.btn-group:before {
  content: ' ';
  display: table;
}
.btn-group:after {
  clear: both;
}
.btn-group:after,
.btn-group:before {
  content: ' ';
  display: table;
}
.btn-group:after {
  clear: both;
}
.btn-group > .btn,
.btn-group > input {
  float: left;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group > .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.btn-group > .btn.btn-round:first-child,
.btn-group > .input-search:first-child {
  border-radius: 15px 0 0 15px;
}
.btn-group > .btn.btn-round:last-child,
.btn-group > .input-search:last-child {
  border-radius: 0 15px 15px 0;
}
/* Append  */
.btn-append {
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}
/* FF fix */
@-moz-document url-prefix("http://") {
  input[type=submit].btn::-moz-focus-inner,
  button.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
/* =Navs
-----------------------------------------------------------------------------*/
/* Horizontal */
.nav-h,
.nav-g {
  margin-bottom: 1.5em;
  *zoom: 1;
}
.nav-h:after,
.nav-g:after,
.nav-h:before,
.nav-g:before {
  content: ' ';
  display: table;
}
.nav-h:after,
.nav-g:after {
  clear: both;
}
.nav-h:after,
.nav-g:after,
.nav-h:before,
.nav-g:before {
  content: ' ';
  display: table;
}
.nav-h:after,
.nav-g:after {
  clear: both;
}
.nav-h ul,
.nav-g ul {
  list-style: none;
  margin: 0;
  *zoom: 1;
}
.nav-h ul:after,
.nav-g ul:after,
.nav-h ul:before,
.nav-g ul:before {
  content: ' ';
  display: table;
}
.nav-h ul:after,
.nav-g ul:after {
  clear: both;
}
.nav-h ul:after,
.nav-g ul:after,
.nav-h ul:before,
.nav-g ul:before {
  content: ' ';
  display: table;
}
.nav-h ul:after,
.nav-g ul:after {
  clear: both;
}
.nav-h ul li,
.nav-g ul li {
  float: left;
  margin-right: 1.5em;
}
.nav-h ul li a,
.nav-h ul li span,
.nav-g ul li a,
.nav-g ul li span {
  display: block;
}
.nav-h ul li a,
.nav-g ul li a {
  color: #000000;
  text-decoration: none;
}
.nav-h ul li a:hover,
.nav-g ul li a:hover {
  color: #c72020;
  text-decoration: underline;
}
.nav-h ul li span,
.nav-g ul li span {
  color: #999999;
}
/* Vertical */
.nav-v {
  margin-bottom: 1.5em;
}
.nav-v ul {
  list-style: none;
  margin: 0;
}
.nav-v ul li {
  border-bottom: 1px solid #eee;
}
.nav-v ul li ul {
  margin-left: 2em;
  font-size: .95em;
}
.nav-v ul li ul li:last-child {
  border-bottom: none;
}
.nav-v ul li ul li a,
.nav-v ul li ul li span {
  padding: 4px 0;
}
.nav-v ul li a,
.nav-v ul li span {
  display: block;
  padding: 5px 0;
}
.nav-v ul li a {
  color: #000000;
  text-decoration: none;
}
.nav-v ul li a:hover {
  color: #c72020;
  text-decoration: underline;
}
.nav-v ul li span {
  color: #999999;
}
/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 1.5em;
  *zoom: 1;
}
.breadcrumbs:after,
.breadcrumbs:before {
  content: ' ';
  display: table;
}
.breadcrumbs:after {
  clear: both;
}
.breadcrumbs:after,
.breadcrumbs:before {
  content: ' ';
  display: table;
}
.breadcrumbs:after {
  clear: both;
}
.breadcrumbs ul {
  font-size: .9em;
  color: #999;
  list-style: none;
  margin: 0;
  *zoom: 1;
}
.breadcrumbs ul:after,
.breadcrumbs ul:before {
  content: ' ';
  display: table;
}
.breadcrumbs ul:after {
  clear: both;
}
.breadcrumbs ul:after,
.breadcrumbs ul:before {
  content: ' ';
  display: table;
}
.breadcrumbs ul:after {
  clear: both;
}
.breadcrumbs ul li {
  float: left;
  margin-right: .5em;
}
.breadcrumbs li + li:before {
  content: " > ";
  color: #999;
  font-size: 12px;
  margin-right: .5em;
}
.breadcrumbs-sections li + li:before {
  content: " | ";
}
.breadcrumbs-path li + li:before {
  content: " / ";
}
.breadcrumbs ul li a {
  color: #666;
  text-decoration: none;
}
.breadcrumbs ul li a.active {
  color: #999;
}
.breadcrumbs ul li a:hover {
  color: #000;
  text-decoration: underline;
}
/* Tabs */
.nav-tabs {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 1.5em;
  *zoom: 1;
}
.nav-tabs:after,
.nav-tabs:before {
  content: ' ';
  display: table;
}
.nav-tabs:after {
  clear: both;
}
.nav-tabs:after,
.nav-tabs:before {
  content: ' ';
  display: table;
}
.nav-tabs:after {
  clear: both;
}
.nav-tabs ul {
  list-style: none;
  margin: 0;
  *zoom: 1;
}
.nav-tabs ul:after,
.nav-tabs ul:before {
  content: ' ';
  display: table;
}
.nav-tabs ul:after {
  clear: both;
}
.nav-tabs ul:after,
.nav-tabs ul:before {
  content: ' ';
  display: table;
}
.nav-tabs ul:after {
  clear: both;
}
.nav-tabs ul li {
  float: left;
  margin-right: 2px;
}
.nav-tabs ul li a,
.nav-tabs ul li span {
  display: block;
  line-height: 1;
  padding: 8px 12px 9px 12px;
}
.nav-tabs ul li a {
  color: #777777;
  text-decoration: none;
}
.nav-tabs ul li a:focus,
.nav-tabs ul li a:hover {
  color: #000000;
  text-decoration: underline;
}
.nav-tabs ul li .active,
.nav-tabs ul li span {
  color: #000000;
  background: #fff;
  margin-top: -2px;
  position: relative;
  padding: 8px 11px 9px 11px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  bottom: -1px;
}
.nav-tabs ul li .active {
  cursor: default;
}
/* Pills */
.nav-pills {
  margin-bottom: 1em;
  *zoom: 1;
}
.nav-pills:after,
.nav-pills:before {
  content: ' ';
  display: table;
}
.nav-pills:after {
  clear: both;
}
.nav-pills:after,
.nav-pills:before {
  content: ' ';
  display: table;
}
.nav-pills:after {
  clear: both;
}
.nav-pills ul {
  list-style: none;
  margin: 0;
  *zoom: 1;
}
.nav-pills ul:after,
.nav-pills ul:before {
  content: ' ';
  display: table;
}
.nav-pills ul:after {
  clear: both;
}
.nav-pills ul:after,
.nav-pills ul:before {
  content: ' ';
  display: table;
}
.nav-pills ul:after {
  clear: both;
}
.nav-pills ul li {
  float: left;
  margin-right: .5em;
  margin-bottom: 0.5em;
}
.nav-pills ul li a,
.nav-pills ul li span {
  display: block;
  padding: 6px 11px;
  line-height: 1;
}
.nav-pills ul li a {
  color: #000000;
  text-decoration: none;
  background-color: #f3f4f5;
}
.nav-pills ul li a:hover {
  color: #555555;
  text-decoration: underline;
}
.nav-pills ul li .active,
.nav-pills ul li .active:hover,
.nav-pills ul li span {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: none;
}
.nav-pills ul li .active,
.nav-pills ul li .active:hover {
  cursor: default;
  text-decoration: none;
}
/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
  position: relative;
  left: -7px;
  margin-left: 0;
  list-style: none;
  *zoom: 1;
}
.pagination:after,
.pagination:before {
  content: ' ';
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination:after,
.pagination:before {
  content: ' ';
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination li {
  float: left;
  margin-right: .5em;
}
.pagination li a,
.pagination li span {
  display: block;
  padding: 4px 7px;
  line-height: 1;
  color: #000;
  text-decoration: none;
}
.pagination li span {
  border: 1px solid #ddd;
}
.pagination li a:focus,
.pagination li a:hover {
  text-decoration: underline;
}
.label {
  border-radius: 2em;
  border: 1px solid #ddd;
  font-size: .7em;
  display: inline-block;
  font-weight: 600;
  line-height: 1.8em;
  padding: 0 1em;
  color: #000;
  text-decoration: none;
}
.label:hover {
  border-color: #bbb;
}
/* =Grid
-----------------------------------------------------------------------------*/
.row {
  margin-bottom: 1.5em;
}
.container.row {
  margin-bottom: 0;
}
.container:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.half,
.third,
.quarter,
.fifth,
.sixth,
.twothird,
.twofifth,
.threefifth,
.fourfifth,
.fivesixth,
.threequarter {
  margin-left: 3.1914893617021276%;
  float: left;
  min-height: 1px;
}
.half:first-child,
.third:first-child,
.quarter:first-child,
.fifth:first-child,
.sixth:first-child,
.twothird:first-child,
.twofifth:first-child,
.threefifth:first-child,
.fourfifth:first-child,
.fivesixth:first-child,
.threequarter:first-child {
  margin-left: 0;
}
.sixth {
  width: 14.007092198581558%;
}
.fifth {
  width: 17.4468085106383%;
}
.quarter {
  width: 22.606382978723403%;
}
.third {
  width: 31.205673758865245%;
}
.half {
  width: 48.40425531914894%;
}
.threequarter {
  width: 74.20212765957446%;
}
.twothird {
  width: 65.60283687943262%;
}
.twofifth {
  width: 38.08510638297872%;
}
.threefifth {
  width: 58.72340425531915%;
}
.fourfifth {
  width: 79.36170212765958%;
}
.fivesixth {
  width: 82.8014184397163%;
}
.push-half,
.push-threequarter,
.push-quarter,
.push-third,
.push-twothird,
.push-fifth,
.push-twofifth,
.push-threefifth,
.push-fourfifth,
.push-sixth,
.push-fivesixth {
  position: relative;
}
.push-half {
  left: 51.59574468085106%;
}
.push-third {
  left: 34.39716312056737%;
}
.push-quarter {
  left: 25.79787234042553%;
}
.push-fifth {
  left: 20.638297872340427%;
}
.push-sixth {
  left: 17.198581560283685%;
}
.push-threequarter {
  left: 77.39361702127658%;
}
.push-twothird {
  left: 68.79432624113474%;
}
.push-twofifth {
  left: 41.27659574468085%;
}
.push-threefifth {
  left: 61.91489361702128%;
}
.push-fourfifth {
  left: 82.55319148936171%;
}
.push-fivesixth {
  left: 85.99290780141843%;
}
.split .half,
.split .third,
.split .quarter,
.split .fifth,
.split .sixth,
.split .twothird,
.split .twofifth,
.split .threefifth,
.split .fourfifth,
.split .fivesixth,
.split .threequarter {
  margin-left: 0;
}
.split .half {
  width: 50%;
}
.split .threequarter {
  width: 75%;
}
.split .quarter {
  width: 25%;
}
.split .third {
  width: 33.3%;
}
.split .twothird {
  width: 66.6%;
}
.split .fifth {
  width: 20%;
}
.split .twofifth {
  width: 40%;
}
.split .threefifth {
  width: 60%;
}
.split .fourfifth {
  width: 80%;
}
.split .sixth {
  width: 16.6%;
}
.split .fivesixth {
  width: 83.4%;
}
.inner {
  padding: 1.5em;
}
.inner-left {
  padding-left: 1.5em;
}
.inner-right {
  padding-right: 1.5em;
}
.inner-nobottom {
  padding-bottom: 1px;
}
.inner-double {
  padding: 3em;
}
.inner-double-left {
  padding-left: 3em;
}
.inner-double-right {
  padding-right: 3em;
}
.inner-double-nobottom {
  padding-bottom: 1px;
}
.row .push-right {
  float: right;
}
.row .centered {
  float: none;
  margin: 0 auto;
}
/* =Blocks
-----------------------------------------------------------------------------*/
.block-two,
.block-three,
.block-four,
.block-five,
.block-six {
  list-style: none;
  margin-left: -3.1914893617021276%;
  margin-bottom: 0;
  *zoom: 1;
}
.block-two:after,
.block-three:after,
.block-four:after,
.block-five:after,
.block-six:after,
.block-two:before,
.block-three:before,
.block-four:before,
.block-five:before,
.block-six:before {
  content: ' ';
  display: table;
}
.block-two:after,
.block-three:after,
.block-four:after,
.block-five:after,
.block-six:after {
  clear: both;
}
.block-two:after,
.block-three:after,
.block-four:after,
.block-five:after,
.block-six:after,
.block-two:before,
.block-three:before,
.block-four:before,
.block-five:before,
.block-six:before {
  content: ' ';
  display: table;
}
.block-two:after,
.block-three:after,
.block-four:after,
.block-five:after,
.block-six:after {
  clear: both;
}
.block-two > li,
.block-three > li,
.block-four > li,
.block-five > li,
.block-six > li {
  height: auto;
  float: left;
  margin-bottom: 1.5em;
  margin-left: 3.1914893617021276%;
}
.block-two > li {
  width: 46.80851063829787%;
}
.block-three > li {
  width: 30.141843971631204%;
}
.block-four > li {
  width: 21.80851063829787%;
}
.block-five > li {
  width: 16.80851063829787%;
}
.block-six > li {
  width: 13.47517730496454%;
}
/* =Goodies
-----------------------------------------------------------------------------*/
.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
.image-left img,
.image-right img {
  position: relative;
  top: .4em;
}
.supersmall {
  font-size: 0.7em;
}
.small {
  font-size: 0.85em;
}
.big {
  font-size: 1.2em;
}
input.big {
  padding: 2px 0;
  font-size: 1.2em;
}
.text-centered {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.nowrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.last {
  margin-right: 0 !important;
}
.pause {
  margin-bottom: 0.75em !important;
}
.end {
  margin-bottom: 0 !important;
}
.handle {
  cursor: move;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.req,
.required {
  font-weight: normal;
  color: #da3e5a;
}
.highlight {
  background-color: #e5ecf5 !important;
}
/* Width */
.width-33 {
  width: 33%;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
input.width-100 {
  width: 98.6%;
}
textarea.width-100 {
  width: 99.4%;
}
select.width-100 {
  width: 99.4%;
}
/* Colors */
.black {
  color: #000000;
}
.gray-dark {
  color: #555555;
}
.gray {
  color: #777777;
}
.gray-light {
  color: #999999;
}
.white {
  color: #ffffff;
}
.red,
.error {
  color: #da3e5a;
}
.green,
.success {
  color: #18a011;
}
/* Link Colors Hover */
a.white:focus,
a.white:hover {
  color: #bfbfbf;
  color: rgba(255, 255, 255, 0.6);
}
a.green:focus,
a.green:hover,
a.red:focus,
a.red:hover,
a.error:focus,
a.error:hover {
  color: #000000;
}
/* --------------------------------------
 *	Link extra styles
 * -------------------------------------- */
/* =Responsive Mobile
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .row .half,
  .row .third,
  .row .quarter,
  .row .fifth,
  .row .sixth,
  .row .twothird,
  .row .twofifth,
  .row .threefifth,
  .row .fourfifth,
  .row .fivesixth,
  .row .threequarter {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1.5em;
  }
  .push-half,
  .push-threequarter,
  .push-quarter,
  .push-third,
  .push-twothird,
  .push-fifth,
  .push-twofifth,
  .push-threefifth,
  .push-fourfifth,
  .push-sixth,
  .push-fivesixth {
    left: 0;
  }
  .row .pull-right {
    float: none;
  }
  /*
  		Blocks
  	*/
  .block-two,
  .block-three,
  .block-four,
  .block-five,
  .block-six {
    margin-left: 0;
    margin-bottom: 1.5em;
  }
  .block-two > li,
  .block-three > li,
  .block-four > li,
  .block-five > li,
  .block-six > li {
    float: none;
    margin: 0;
    width: 100%;
  }
  /*
  		Forms
  	*/
  .forms.columnar label {
    float: none;
    text-align: left;
    width: auto;
  }
  .forms.columnar .push,
  .forms.columnar div.descr {
    margin-left: 0;
  }
  .forms .multicolumn li {
    float: none;
    margin-right: 0;
  }
  .forms .multicolumn li.width-50,
  .forms .multicolumn li.width-33 {
    width: 100%;
  }
  .forms.columnar li fieldset,
  .forms.columnar li fieldset section,
  .forms.columnar li fieldset section label,
  .columnar li.form-section {
    width: 100%;
    padding-left: 0;
    text-align: left;
    position: static;
  }
  .forms fieldset {
    padding: 0;
    padding-top: 1em;
    border: none;
  }
  .forms fieldset legend {
    padding: 0;
  }
  /*
  		Navs
  	*/
  .nav-g,
  .nav-g ul,
  .nav-g ul li,
  .nav-g,
  .nav-v ul,
  .nav-v,
  .nav-tabs ul,
  .nav-pills,
  .nav-pills ul {
    float: none;
  }
  .nav-g ul li {
    margin: 0;
    margin-bottom: 1px;
  }
  .nav-tabs ul li {
    float: none;
  }
  .nav-tabs ul li a,
  .nav-tabs ul li span {
    margin-top: 0;
    bottom: 0;
  }
}
