/* -------------------------------------
 *	Sticky footer
 * ------------------------------------- */
html,body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
#page {
	padding-bottom: 80px;
}
footer,
footer > .inner > table {
	height: 50px;
}


/* -------------------------------------
 *	Main CSS
 * ------------------------------------- */
body {
	font-family: 'OpenSans', sans-serif;	
	background-color: #f5f5f5;
}
#page {
	padding-top: 65px;
	padding-left: 24px;
	padding-right: 24px;
}
#main {
	position: relative;
	float: left;
	width: 100%;
	margin-right: -300px;
	z-index: 300;
}
#main > .inner {
	padding: 0 324px 0 0;
}
aside {
	position: relative;
	float: right;
	width: 300px;
	/*background: #ddd;*/
	height: 100px;
	z-index: 301;
}
nav {
	border-bottom: 0px solid #bbb;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	overflow: hidden;
	padding: 0 2em;
    box-shadow: 0 0 5px rgba(0,0,0,.45);
    z-index: 999;
	background: linear-gradient(to bottom, #f7f7f7 0%,#e2e2e2 100%); /* W3C */
}
nav a {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	transition: opacity .3s ease-in-out;
}
nav a:focus,
nav a:hover {
	opacity: .6;
	color: #333;
	text-decoration: none;
}
nav ul {
	margin: 0;
	list-style: none;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	padding: 10.5px 15px 7.5px;
	line-height: 19px;
}
nav ul li.active {
	border-bottom: 3px solid #6FACCF;
}
#navBrand {
	float: left;
	max-width: 260px;
	white-space: nowrap;
	overflow: hidden;
	margin-left: -15px;
}
#navBrand a {
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding: 10.5px 15px;
	color: #444;
	opacity: 1;
	-webkit-transition: opacity .276s ease-in-out;
	-moz-transition: opacity .276s ease-in-out;
	-ms-transition: opacity .276s ease-in-out;
	-o-transition: opacity .276s ease-in-out;
	transition: opacity .276s ease-in-out;
}
#navBrand a:focus,
#navBrand a:hover {
	opacity: .6;
}
#navMenu {
	float: left;
}
#navUserMenu {
	float: right;
}
#navUserMenu li#navUserMenuUsername a {
	cursor: default;
	color: #606060;
}
#navUserMenu li#navUserMenuUsername a strong {
	color: #333;
}
/*
.breadcrumbs a {
	color: #555;
}
.breadcrumbs a:hover {
	color: #333;
}
.breadcrumbs span {
	color: #999;
}
*/
#dashboardBlocks {
	list-style: none;
	margin: 0;
}
#dashboardBlocks li {
	float: left;
	width: 250px;
	height: 95px;
	position: relative;
	margin: 0 24px 24px 0;
}
#dashboardBlocks li a {
	display: block;
	background: #fff;
	text-decoration: none;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,0) 0 2px 7px;
	padding: 20px 20px 20px 60px;
	width: 170px;
	height: 55px;
	position: absolute;
	top: 0;
	transition: 
		top .2s ease-in-out, 
		box-shadow .2s ease-in-out,
		border-bottom .2s ease-in-out;
}
#dashboardBlocks li:hover a {
	border-bottom: 4px solid #f3f3f3;
	top: -5px;
	box-shadow: rgba(0,0,0,.2) 0 2px 7px;
}
#dashboardBlocks li a:hover {
	color: #0088cc;
}
#dashboardBlocks li a .dashboard-block-icon {
	position: absolute;
	left: 20px;
	top: 20px;
}
#dashboardBlocks li a .dashboard-block-headline {
	font-size: 15px;
	display: block;
	margin-bottom: 3px;
}
#dashboardBlocks li a .dashboard-block-description {
	display: block;
	height: 34px;
	overflow: hidden;
	color: #777;
}
footer .inner {
	font-size: 12px;
	padding: 0 2em;
	background: #444 url('../img/bg-darknoise.png');
}
footer > .inner > table {
	width: 100%;
	margin-top: -1px;
}
footer > .inner > table td {
	vertical-align: middle;
	text-align: center;
	color: #fff;
}
.menublock {
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,0) 0 2px 7px;
	padding: 19px 24px;
}
.menublock-title {
	font-weight: 400;
}